{% if page.breadcrumbs or layout.breadcrumbs or site.breadcrumbs %}
  {% unless paginator and paginator.page == 1 %}
    {% assign crumbs = page.url | split: "/" %}
    <nav class="breadcrumbs" aria-label="Breadcrumb">
      <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        {% assign position = 1 %}
        {% assign crumb_path = "" %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ "/" | relative_url }}" itemprop="item"><i class="fas fa-home" aria-hidden="true"></i></a>
          <meta itemprop="name" content="Home" />
          <meta itemprop="position" content="{{ position }}" />
        </li>
        <span class="sep"> &nbsp;›&nbsp;</span>
        {% for crumb in crumbs %}
          {% unless crumb == "" %}
            {% assign crumb_path = crumb_path | append: "/" | append: crumb %}
            {% assign position = position | plus: 1 %}
            {% if forloop.last %}
              <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="current">
                <span itemprop="name">{{ page.title }}</span>
                <meta itemprop="position" content="{{ position }}" />
              </li>
            {% else %}
              <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="{{ crumb_path | relative_url }}" itemprop="item"><span itemprop="name">{{ crumb | replace: "-", " " | capitalize }}</span></a>
                <meta itemprop="position" content="{{ position }}" />
              </li>
              <span class="sep"> &nbsp;›&nbsp;</span>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ol>
    </nav>
  {% endunless %}
{% endif %}
